@import './colors';
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: $red;
	background-image: url(../images/bg-intro-mobile.png);
}

.card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: 'Poppins', sans-serif;
	&__content {
		width: 100%;
		&__title {
			padding: 2rem;
			text-align: center;
			font-weight: 700;
			color: $white;
		}
		&__text {
			margin-top: 2rem;
			padding: 2rem;
			text-align: center;
			font-size: 1rem;
			font-weight: 400;
			color: $white;
		}
	}
	&__contentTwo {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		&__subtitle {
			margin-top: 2rem;
			padding: 2rem;
			width: 80%;
			font-weight: 700;
			background-color: $blue;
			border-radius: 0.725rem;
			box-shadow: 0 12px 5px rgba(0, 0, 0, 0.344);
			&__text {
				text-align: center;
				color: $white;
				span {
					font-weight: 400;
				}
			}
		}
		&__form {
			width: 80%;
			margin-top: 2rem;
			padding: 2rem;
			background-color: $white;
			border-radius: 0.725rem;
			box-shadow: 0 12px 5px rgba(0, 0, 0, 0.344);

			&__input {
				position: relative;

				&__data {
					width: 100%;
					height: 3rem;
					font-size: 1rem;
					padding: 1rem;
					border: none;
					border: 1px solid $grayishBlue;
					border-radius: 0.625rem;
				}
				&__error {
					color: $red;
					font-size: 0.8rem;
					text-align: right;
					font-style: italic;
					font-weight: 500;
				}
				&__icon {
					display: none;
					position: absolute;
					top: 20%;
					right: 5%;
				}
			}
			&__btn {
				width: 100%;
				height: 3rem;
				margin-top: 2rem;
				border: none;
				font-weight: 700;
				background-color: $green;
				border-radius: 0.725rem;
				text-transform: uppercase;
				color: $white;
				transition: background-color 0.3s;
				cursor: pointer;
				&:hover {
					background-color: $grayishBlue;
				}
			}
			&__paragraph {
				margin-top: 2rem;
				font-size: 0.9rem;
				text-align: center;
				color: $grayishBlue;
				span {
					color: $red;
					font-weight: 600;
				}
			}
		}
	}
}


.attribution {
	margin-top: 3rem;
	font-size: 11px;
	text-align: center;
	a {
		color: hsl(228, 45%, 44%);
	}
}

@import './large';